<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!-- Setter 
    <bean id="source" class=" com.demo.Laptop" ></bean>
    <bean id="bbc" class="com.demo.Tab"></bean>
    <bean id=" student" class="com.demo.Student" autowire="byName">
    -->
    
    <!--
     <bean id="sorce" class=" com.demo.Laptop"  ></bean>
    <bean id="source" class="com.demo.Tab" primary="true"></bean>
    <bean id=" student" class="com.demo.Student" autowire="byType">
    -->
    <bean id="source" class=" com.demo.Laptop"  ></bean>
    <bean id="source1" class="com.demo.Tab" primary="true"></bean>
    <bean id=" student" class="com.demo.Student" autowire="constructor">
  </bean>
   
</beans>
